.checkbox-modal, .add-skill-modal{
    position: fixed;
    width: 318px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 998;
    padding: 30px;
    background-color: rgba(39, 39, 39, 1);
    border-radius: 12px;
    border: 1px solid rgba(72, 72, 72, 1);
    transition: .2s;
    height: fit-content;
    height: -moz-fit-content;
}



.checkbox-box.checked .img-checked{
    opacity: 1;
}

.img-checked{
    background: var(--colorGreen);
    border-radius: 100px;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4%;
    right: 5%;
    font-size: 14px;
    color: #fff;
    opacity: 0;
    transition: .2s;
    font-size: 10px;
}

@media screen and (min-width : 768px) {

 
    .checkbox-modal, .add-skill-modal{
        position: absolute;
        bottom: -150%;
        left: 50%;
    }

    .img-checked{
        width: 28px;
        height: 28px;
        font-size: 14px;
    }
}

@media screen and (min-width:1024px) {
    div.add-skill-modal{
        min-width: 600px ;
        transform: translateX(-70%);
    }
}