@import url('../initial.css');

body{
    background-image: url('../../../img/completed-bg.svg') !important;
    background-position: -110vw center;
}

@media screen and (min-width : 1024px) {
    body{
        background-position: -10vw center;
    }
}