@import url('../initial.css');
@import url('../../component/collapse/collapse.css');

.chips-textarea{
    background: rgba(0,0,0,1);
    padding: 18px 25px;
    border-radius: 18px;
    min-height: 200px;
    transition: .3s;
}

.chips-textarea-input{
    height: fit-content;
    background: none;
    border: none;
    outline: none;
    color: #fff;
}