.button{
    padding: 12px 24px;
    border-radius: 100px;
    border: none;
    outline: none;
    transition: .3s;
    cursor: pointer;
}

.button-green{
    background: var(--colorGreen);
    color: #fff;
}

.button-green:hover{
    background: var(--colorLightGreen);
}

.button-transparent, .button-outlined{
    color: unset;
    background: transparent;
}

.button-transparent:hover{
    background: rgb(58, 58, 58);
}

.button-outlined{
    border: 1px solid rgba(72, 72, 72, 1);
}