@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
:root{
    --colorGray : #adadad;
    --colorGreen : rgba(24, 169, 65, 1);
    --colorLightGreen : rgb(17, 146, 54);
    --colorSemiBlack : #111111;
    --colorOptionHover : #202020;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.h-fit{
    height: fit-content !important;
    height: -moz-fit-content !important;
}

.w-fit{
    width: fit-content !important;
    width: -moz-fit-content !important;

}

a{
    width: fit-content;
    width: -moz-fit-content;
    text-decoration: none;
    color: unset;
}

a:hover{
    color: inset;
}

a.button-green{
    color: #fff;
}

h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    line-height: 160%;
}

p, h6{
    line-height: 160%;
    
}
h6{
    font-size: 18px;
}

.transition-unset{
    transition: unset !important;
}

.gray-line{
    border-top: 1.8px solid #adadad;
}

@media screen and (min-width : 768px) {
    h1{
        font-size: 64px;
    }
}