.closed{
    opacity: 0;
    min-height: 0 !important;
    max-height: 0;
    position: absolute;
}

.open{
    transition: .3s;
    opacity: 1;
    position: relative;
    max-height: unset;
}
